<%= turbo_frame_tag "order_options" do %>
  <% if @products.any? %>
    <div class="w-full flex">
      <% @products.each do |product| %>
        <%= render partial: "option", locals: { product: product, order: @order } %>
      <% end %>
    <% else %>
      <p class=" my-10 text-white w-full text-center">No products found.</p>
    <% end %>
  <% end %>