<%= turbo_frame_tag "order_options" do %>
  <% if @products.any? %>
    <div class="w-full flex">
      <% @products.each do |product| %>
        <div class="item-link gap-4 flex" id="<%= dom_id product %>"
          >
          <%= render(OrderItemComponent.new(
              title: product.name,
              price: product.price,
              classes: '',
              size: product.size,
              image_url: product.image.url,
              data: { turbo_frame: 'products'}
              )) %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class=" my-10 text-white w-full text-center">No products found.</p>
  <% end %>
<% end %>