/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

input,
textarea,
select,
select option {
  background: #5b4850 !important;
  color: white !important;
}

input:focus,
textarea:focus,
select option:hover {
  background: #5e5e5e !important;
  color: white !important;
}
