<div class="item-link" id="<%= dom_id category %>">
  <%= render(ItemThumbnailComponent.new(
        title: category.name,
        count: category.products_count,
        classes: '',
        href: category_products_path(category),
        image_url: category.image.url,
        data: { turbo_frame: 'products'}
        )
        ) %>
</div>